/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
/*
color0: #99CCB4 __RGB(153,204,180)
color1: #AABDB4 __RGB(170,189,180)
color2: #B3AD9B __RGB(179,173,155)
color3: #FC9D9D __RGB(252,157,157)
color4: #27C4C4 __RGB(39,196,196)
*/

body {
    color: #000;
    background-color:#212121;
    font-size: 15.04px;
    word-wrap: break-word;
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
/*
::selection {
 background:#AABDB4;
}
::-moz-selection{
 background:#AABDB4;
}
*/
h1, h2, h3, h4, h5, h6 { font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a {
    color: #FC9D9D;
    text-decoration: none;
} a:visited {
    color: #99CCB4; 
} a:hover {
    color: #AABDB4;
    transition: all 0.25s linear;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    font-size: 115%;
    text-align: justify;
    width: 100%;
    max-width: 42em;
    margin: 3em auto 2em;
    line-height: 1.5em;
}

.meta {
    color: #AABDB4;
}

//Tatex
code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}
