.post pre {
    overflow: auto;
    border: 2px solid #00BFFF;
    background-color: #212121;
    padding: 0 .4em;
    overflow: auto;
}
pre {
    overflow: auto;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #FFFFFF;
    background-color: #212121;
    padding: 0 .2em;
}

.post let{
    font-family: monospace;
}
.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #B3Ad9B;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #FFFFFF;
}

.date {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #000;
    margin-bottom: 4em;
}

.meta {
    font-size: small;
    width: 8em;
    float: right;
}

h1 {
    font-size: 20px;
}

.comment {
    margin-top: 4em;
    margin-bottom: 2em;
    text-align: center;
}

.ic {
    margin: 1em 2em auto;
}
