<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <script> -->
<!--   (function() { -->
<!--     var cx = '010027519522096799911:zbgbj6a6g2k'; -->
<!--     var gcse = document.createElement('script'); -->
<!--     gcse.type = 'text/javascript'; -->
<!--     gcse.async = true; -->
<!--     gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + -->
<!--         '//www.google.com/cse/cse.js?cx=' + cx; -->
<!--     var s = document.getElementsByTagName('script')[0]; -->
<!--     s.parentNode.insertBefore(gcse, s); -->
<!--   })(); -->
<!-- </script> -->
<!-- <gcse:search></gcse:search> -->
<title>{{ page.title }}</title>

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/pygments.css">

<!-- Slidebar Styles -->
<link rel="stylesheet" href="styles.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/main.css">

<!--font awesome-->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<!-- jQuery -->
<script src="/js/jquery-2.1.1.min.js"></script>

</head>

<body>
<div class="site">

    {{ content }}

</div>

</body>
<!-- mathjax config similar to math.stackexchange -->

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
      }
    });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>

<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

</html>
