---
layout: default
---
<link rel="stylesheet" type="text/css" href="/css/post.css" />

<h1>{{ page.title }}</h1>
<div class="date"><p class="meta">{{ page.date | date_to_string }}</p></div>

<div class="post">
    {{ content }}
</div>

<div class="post comment">
    <a><i class="fa fa-comment-o ic" id="icomment"></i></a>
    <a><i class="fa fa-share-square-o ic" id="ishare"></i></a>
    <a href="mailto:wangstdio.h@gmail.com?subject=from_pages"><i class="fa fa-envelope-o ic"></i></a>
</div>

<div class="post" id="hico">
    <div id="disqus_thread"></div>
    <script src="/js/post.js"></script>
    <noscript>Please enable JavaScript to view the comments.</a></noscript>
</div>
