---
layout: default
---

<link rel="stylesheet" type="text/css" href="/css/post.css" />
<div align="center"><a href = "http://uglyname.github.io/"><h1 style="color: #4876FF">Return Home Page</h1></a></div>
<br>
<h1>{{ page.title }}</h1>
<div class="date"><p class="meta">{{ page.date | date_to_string }}</p></div>

<div class="post">
    {{ content }}
</div>
<br>
<br>
<br>
<br>
<pre><div align="center"> <a href = /aboutme.html>About Me </a>   <a href = "mailto:wangstdio.h@gmail.com">Connect Me </a></div></pre> 
