---
layout: default
---

<link rel="stylesheet" type="text/css" href="/css/post.css" />
<div align="center"><a href = "http://uglyname.github.io/"><h1 style="color: #4876FF">Return Home Page</h1></a></div>
<br>
<h1>{{ page.title }}</h1>
<div class="date"><p class="meta">{{ page.date | date_to_string }}</p></div>

<div class="post">
    {{ content }}
</div>
<br>
<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=www.wangzhili.net">转发到QQ空间</a>
<div align="center"><pre> <a href="/about"> About Me </a>  <a href = "mailto:wangstdio.h@gmail.com"> Connect Me</a></pre></div>
